body {
    margin: 0;
    text-align: center;
    background-color: #21252B;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
}
  
h1 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.1618em;
    line-height: 2.318em;
    font-style: normal;
    margin: 40px 0 0 0;
    padding: 0.17em 0;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

h2, p {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.1618em;
    line-height: 1.5em;
    margin-bottom: 0;
}

.description {
    max-width: 52%;
    margin: auto;
}

.contact {
    margin-top: 60px;
}

.icons {
    display: inline-block;
    padding: 20px;
}

.icons > a {
    color: #fff;
    background: #df543c;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    padding-top: 12px;
    margin: 0 2px;
    -webkit-font-smoothing: antialiased;
}

.icons > a:hover {
    background: #bf3f2d;
    transform: scale(1.1);
}